In [3]:
from datasets import load_dataset, get_dataset_split_names
import os

# https://huggingface.co/datasets/yahoo_answers_topics
DATASET = 'yahoo_answers_topics'
DATA_DIRECTORY = 'Datasets'

In [4]:
for split in get_dataset_split_names(DATASET):
    # load the split of the dataset
    dataset = load_dataset(DATASET, split=split)
    # save the split of the dataset to the download directory as json lines file
    dataset.to_json(os.path.join(DATA_DIRECTORY, f"{split}.jsonl"))
    # print dataset features

Creating json from Arrow format:   0%|          | 0/1400 [00:00<?, ?ba/s]

Creating json from Arrow format:   0%|          | 0/60 [00:00<?, ?ba/s]

In [11]:
import pandas as pd

df = pd.read_json('Datasets/test.jsonl', lines=True)

df.head()

,id,topic,question_title,question_content,best_answer
0,0,8,What makes friendship click?,How does the spark keep going?,good communication is what does it. Can you m...
1,1,1,Why does Zebras have stripes?,What is the purpose or those stripes? Who do t...,this provides camouflage - predator vision is ...
2,2,3,What did the itsy bitsy sipder climb up?,,waterspout
3,3,3,What is the difference between a Bachelors and...,,One difference between a Bachelors and a Maste...
4,4,2,Why do women get PMS?,,Premenstrual syndrome (PMS) is a group of symp...

In [13]:
topic_counts = df['topic'].value_counts(dropna=False)

topic_counts

topic
8    6000
1    6000
3    6000
2    6000
4    6000
7    6000
6    6000
9    6000
0    6000
5    6000
Name: count, dtype: int64

In [9]:
dataset

Dataset({
    features: ['id', 'topic', 'question_title', 'question_content', 'best_answer'],
    num_rows: 60000
})

In [10]:
for split in get_dataset_split_names(DATASET):
    # load the split of the dataset
    dataset = load_dataset(DATASET, split=split)
    print(split)
    print(len(dataset))

train
1400000
test
60000